<!DOCTYPE html>
<html>

<head>
    <title>Home - <%= bot.user.username %></title>
    <%- include("partials/header.ejs") %>
    <%- include("partials/functions.ejs") %>
</head>

<body>
    <h1 style="color: white; font-size: 50px;">Home <%= bot.user.username %></h1>
    <div class="card" id="recap-serv" style="float: left;">
        <h2><%= guild.name %></h2>
        <img alt="" src="<%= guild.iconURL({dynamic: true}) %>"
            onclick="window.open('<%= guild.iconURL({dynamic: true}) %>', '_blank').focus()" />
        <table>
            <tr>
                <th colspan="3" style="background-color: #1a97d6; color: white;">Tableau des membres</th>
            </tr>
            <tr style="background-color: #a1610d; color: white;">
                <td>Total</td>
                <td>Humains</td>
                <td>Bots</td>
            </tr>
            <tr>
                <td><%= guild.memberCount %></td>
                <td><%= guild.members.cache.filter(u => !u.user.bot).size %></td>
                <td><%= guild.members.cache.filter(u => u.user.bot).size %></td>
            </tr>
        </table>
        <p><u>Salons:</u> <%- limitWarning(guild.channels.cache.size, 500) %></p>
        <p><u>Rôles:</u> <%- limitWarning(guild.roles.cache.size, 250) %></p>
        <p><u>Propriétaire:</u> <%- presentUser(guild.owner.user) %></p>
        <p><u>Administrateurs:</u><br>
        <div style="text-align: left; margin-left: 20%;">
            <% guild.members.cache.array().filter(m => m.hasPermission("ADMINISTRATOR") && !m.user.bot && m != guild.owner).forEach(m => { %>
            <%- presentUser(m.user) %><br>
            <% }) %>
        </div>
        </p>
    </div>
    <div class="card" id="panel" style="float: left;">
        <h2>Panel</h2>
    </div>
    <div class="card" id="recap-bot" style="float: right;">
        <h2><%= bot.user.username %></h2>
        <img alt="" src="<%= bot.user.avatarURL() %>"
            onclick="window.open('<%= bot.user.avatarURL() %>', '_blank').focus()" />
        <p><u>Surnom:</u> <%= memberBot.nickname ? memberBot.nickname : EMOJIS.XEMOJI %></p>
        <p><u>Permissions administrateur:</u>
            <%= memberBot.hasPermission("ADMINISTRATOR") ? EMOJIS.OKEMOJI : EMOJIS.XEMOJI %></p>
        <p><u>Propriétaire:</u> <%- presentUser(bot.users.cache.get(bot.config.ownerId)) %></p>
        <p><u>Administrateurs:</u><br>
        <div style="text-align: left; margin-left: 20%;">
            <% bot.config.adminsId.forEach(id => { %>
            <%- presentUser(bot.users.cache.get(id)) %><br>
            <% }) %>
        </div>
        </p>
    </div>

</body>

</html>